<%- include('partials/header.ejs'); -%>

<% if (success == "true") { %>
  <script>
    alert('Erfolgreich gelöscht!');
  </script>
<% } else if (success == "false") {%>
  <script>
    alert('Löschen fehlgeschlagen!');
  </script>
<% } %>
<div>
<% books.forEach((book) => { %>
  <div>
    <% if(book.cover === null) {%>
      <div>No cover available.</div>
    <% } else {%>
    <img src="<%= book.cover %>" alt="<%= book.title %> Cover"/>
    <% } %>
    <div>
      <h2><%= book.title %></h2>
      <p>by <%= book.author %></p>
      <p>ISBN: <%= book.isbn %> - Release Date: <%= book.publication_date %> - Rating: <%= book.rating %>/10 </p>
      <p><%= book.review %></p>
    </div>
    <div>
      <form action="/edit" method="post">
        <input type="hidden" name="book_id" value="<%= book.id %>">
        <button type="submit">Edit</button>
      </form>
      <form action="/delete" method="post">
        <input type="hidden" name="book_id" value="<%= book.id %>">
        <button type="submit">Delete</button>
      </form>
    </div>
    <hr>
  </div>
<% }) %>



</div>
<script>
    document.getElementById("selectOrder").addEventListener("change", function () {
      this.form.submit();
    });
</script>
<%- include("partials/footer.ejs"); -%>